// Colors
$white: #F7F5FF;
$yellow: #F8DC3E;
$dark-blue: #242136;
$light-grey: #E6E8F0;


$light-blue: #19ECFA;
$c-light-blue: rgba(25, 236, 250, 0.2);

$c-green: rgba(29, 250, 25, 0.2);
$green: #1DFA19;

$c-orange: rgba(250, 160, 25, 0.2);
$orange: #FAA019;

$c-pink: rgba(250, 25, 200, 0.2);
$pink: #FA19C8;

$c-purple: rgba(151, 25, 250, 0.2);
$purple: #9719FA;

$c-blue: rgba(25, 74, 250, 0.2);
$blue: #194AFA;

$c-red:  rgba(250, 25, 25, 0.2);
$red: #FA1919;


$font: 'Montserrat', sans-serif;
