.settings-main-form{
  display: flex;
  margin-top: 40px;

  &__img{
    margin-right: 30px;
  }

  &__avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed rgba(36, 33, 54, 0.4);
    background-color: #F7F5FF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__block{}
}

.settings-fixed{
  position: sticky;
  top: 110px;
}

.settings-block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.settings-nav{
  width: 30%;

  .sidebar__list{
    border-radius: 30px;
  }
}

.settings-content{
  width: 68%;
}

.settings-payment{

  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block{
    display: flex;
  }

  &__change{
    margin-right: 20px;
  }

  &__edit{}
}

.settings-roles{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}