.wallet{
  &__balance{
    &_value{
      font-size: 64px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 100px 0;
    }
    &_add{}
  }
}